
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/IMG/chilito.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v1.1.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>



    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex">
            <div class="contact-info mr-auto">

                <div class="contact-info mr-auto">
                    <i class="icofont-phone"></i> 477785983
                    <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Lunes-Viernes: 9:00 AM - 8:00 PM  y Sabdo-Domingo: 9:00 AM - 4:00 PM</span>
                </div>
            </div>
        </div>
    </div>
            


            <!-- ======= Header ======= -->
            <header id="header" class="fixed-top">
                <div class="container d-flex align-items-center">

                    <h1 class="logo mr-auto"><a href="index.html">ARFOOD</a><img style="width:100px;height:100px" src="~/IMG/logo.jpeg" /></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                           
                            <li><a href="#about">Sobre Nosotros</a></li>
                            <li><a href="#menu">Menù</a></li>
                            <li><a href="#gallery">Galeria</a></li>

                            <li><a href="#contact">Contactanos</a></li>
                            <li>@Html.ActionLink("Inicia sesiòn o registrate", "../Account/Login")</li>
                          


                        </ul>
                    </nav><!-- .nav-menu -->

                </div>
            </header><!-- End Header -->
            <!-- ======= Hero Section ======= -->
            <section id="hero" class="d-flex align-items-center">
                <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1>BIENVENIDO   <span>ARFOOD</span></h1>
                            <h2>Realiza tus pedidos para tenerlos listos en cuanto llegues, y lo mejor de todo, sin pérdida de tiempo</h2>

                            <div class="btns">
                                <a href="#menu" class="btn-menu animated fadeInUp scrollto">Algunos de nuestros platillos</a>

                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                            <a href="https://www.youtube.com/watch?v=mPZEstUyrDs" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                        </div>

                    </div>
                </div>
            </section><!-- End Hero -->

            <main id="main">

                <!-- ======= About Section ======= -->
                <section id="about" class="about">
                    <div class="container" data-aos="fade-up">

                        <div class="row">
                            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                                <div class="about-img">
                                    <img src="~/IMG/lugar1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                                <h3>
                                    ¿Quienes  Somos?
                                </h3>
                                <p class="font-italic">
                                    AR FOOD es una empresa dedicada al giro comercial, dedicada a ofrecer
                                    platillos de gran calidad, ya que contamos con buena herramienta de trabajo,
                                    instalaciones acordes al ambiente, además de insumos frescos gracias
                                    a nuestros proveedores de confianza.

                                    Teniendo en cuenta los siguientes puntos:

                                </p>
                                <ul>
                                    <li><i class="icofont-check-circled"></i> Excelente servicio al cliente.</li>
                                    <li><i class="icofont-check-circled"></i> Comida 100% Mexicana.</li>
                                    <li><i class="icofont-check-circled"></i> Experiencias inolvidables a nuestros clientes extranjeros.</li>
                                </ul>
                                <p class="font-italic">
                                    Somos un restaurante que ofrece una gran diversidad de platillos con alta calidad en su realización. Nos distinguimos por innovar la forma en la cual puedes hacer tu pedido
                                </p>
                            </div>
                        </div>

                    </div>
                </section><!-- End About Section -->
                <!-- ======= Menu Section ======= -->
                <section id="menu" class="menu section-bg">
                    <div class="container" data-aos="fade-up">

                        <div class="section-title">
                            <h2>Menù</h2>
                            <p>Checa nuestro manù</p>
                        </div>

                        <div class="row" data-aos="fade-up" data-aos-delay="100">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="menu-flters">
                                    <li data-filter="*" class="filter-active">All</li>
                                    <li data-filter=".filter-starters">Starters</li>
                                    <li data-filter=".filter-salads">Salads</li>
                                    <li data-filter=".filter-specialty">Specialty</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                            <div class="col-lg-6 menu-item filter-starters">
                                <img src="~/assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Lobster Bisque</a><span>$5.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Lorem, deren, trataro, filede, nerada
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-specialty">
                                <img src="~/assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Bread Barrel</a><span>$6.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Lorem, deren, trataro, filede, nerada
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-starters">
                                <img src="~/assets/img/menu/cake.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Crab Cake</a><span>$7.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    A delicate crab cake served on a toasted roll with lettuce and tartar sauce
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-salads">
                                <img src="~/assets/img/menu/caesar.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Caesar Selections</a><span>$8.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Lorem, deren, trataro, filede, nerada
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-specialty">
                                <img src="~/assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Tuscan Grilled</a><span>$9.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-starters">
                                <img src="~/assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Mozzarella Stick</a><span>$4.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Lorem, deren, trataro, filede, nerada
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-salads">
                                <img src="~/assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Greek Salad</a><span>$9.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Fresh spinach, crisp romaine, tomatoes, and Greek olives
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-salads">
                                <img src="~/assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Spinach Salad</a><span>$9.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                                </div>
                            </div>

                            <div class="col-lg-6 menu-item filter-specialty">
                                <img src="~/assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">Lobster Roll</a><span>$12.95</span>
                                </div>
                                <div class="menu-ingredients">
                                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                                </div>
                            </div>

                        </div>

                    </div>
                </section><!-- End Menu Section -->
                <!-- ======= Specials Section ======= -->
                <!-- ======= Gallery Section ======= -->
                <section id="gallery" class="gallery">

                    <div class="container" data-aos="fade-up">
                        <div class="section-title">
                            <h2>Galeria</h2>
                            <p>Algunas fotos de nuestro restaurante</p>
                        </div>
                    </div>

                    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                        <div class="row no-gutters">

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="~/assets/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                                        <img src="~/assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </section><!-- End Gallery Section -->
                <!-- ======= Contact Section ======= -->
                <section id="contact" class="contact">
                    <div class="container" data-aos="fade-up">

                        <div class="section-title">
                            <h2>¿Donde nos encuentras?</h2>
                            <p>Calle Madero #123</p>
                            <p> Col. Centro de León</p>
                        </div>
                    </div>

                    <div data-aos="fade-up">
                        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.7652980936664!2d-101.68353668577264!3d21.121921285947916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf0b9d62776b%3A0x94a57aa913238888!2sCalle%20Francisco%20I.%20Madero%20123%2C%20Centro%2C%2037000%20Le%C3%B3n%2C%20Gto.!5e0!3m2!1ses!2smx!4v1596904695729!5m2!1ses!2smx" frameborder="0" allowfullscreen></iframe>
                    </div>

                   
                </section><!-- End Contact Section -->

            </main><!-- End #main -->
            <!-- ======= Footer ======= -->
            <footer id="footer">
                

                <div class="container animated">
                    <div class="copyright">
                        &copy; Copyright <strong><span>ARFOOD MEXICANO</span></strong>. All Rights Reserved

                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
                     
                    </div>
                </div>
            </footer><!-- End Footer -->

            <div id="preloader"></div>
            <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

            <!-- Vendor JS Files -->
            <script src="~/assets/vendor/jquery/jquery.min.js"></script>
            <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
            <script src="~/assets/vendor/php-email-form/validate.js"></script>
            <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
            <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="~/assets/vendor/venobox/venobox.min.js"></script>
            <script src="~/assets/vendor/aos/aos.js"></script>

            <!-- Template Main JS File -->
            <script src="~/assets/js/main.js"></script>

</body>

</html>
