@{
    ViewBag.Title = "";
}

<style>
    div.a {
        height: 200px;
        border: 1px solid black;
    }

    div.b {
        width: 100%;
        height: 200px;
        border: 1px solid black;
    }
</style>


<div class="row" id="AllMenu" style="width:100%">
    <div class="col-lg-12" id="todos">
        @Html.Action("MostrarFamilias")
    </div>
    <table style="width:100%" height="200px">
        <tr>
            <td width="40%" height="200px">
                <div class="b" style="height:400px; overflow-y:scroll" id="familia">
                    @{Html.RenderAction("MostrarDetalleFamilia");}
                </div>
            </td>
            <td width="60%">
                <div class="b" style="height:400px; overflow-y:scroll" id="Platillo">
                    @{Html.RenderAction("MostrarPlatillos");}
                </div>
            </td>
        </tr>
    </table>
</div>

@section scripts {
    <script>
        $(function ()
        {
            $.ajax(
                {
                    url: "@Url.Content("~/Home/MostrarFamilias")"
                }).done(function (data)
                    {
                        $('#todos').html(data);
                    }).fail(function ()
                    {
                        alert("Error 1");
                });
        });
        $('#todos').on('click', 'a[data-url]', function () {
            var dataUrl = $(this).data('url');
            $.ajax(
                {
                    url: dataUrl
                }).done(function (data) {
                    $('#familia').html(data);
                }).fail(function () {
                    alert('Error 2');
                });
            $('#todos a').removeClass('active');
            $(this).addClass('active');
        });
        $('#familia').on('click', 'a[data-url]', function () {
            var dataUrl = $(this).data('url');
            $.ajax(
                {
                    url: dataUrl
                }).done(function (data) {
                    $('#Platillo').html(data);
                }).fail(function () {
                    alert('Error 2');
                });
            $('#todos a').removeClass('active');
            $(this).addClass('active');
        });
        $('#Platillo').on('click', 'a[data-url]', function () {
            var dataUrl = $(this).data('url');
            var idProdCustom;
            if (dataUrl.indexOf("MostrarPlatillos") > -1) {
                $.ajax(
                    {
                        url: dataUrl
                    }).done(function (data) {
                        $('#Platillo').html(data);
                    }).fail(function () {
                        alert('Error platillo');
                    });
                $('#todos a').removeClass('active');
                $(this).addClass('active');
            }
            else if (dataUrl.indexOf("Pedido") > -1) {
                var conDate = document.getElementById('ProgramarFecha');
                alert(conDate.value);
                $.ajax(
                    {
                        url: dataUrl,
                        data: { HasDate: conDate.value }
                    }).done(function (data) {
                        $('#AllMenu').html(data);
                    }).fail(function () {
                        alert('La función de Guardar aún no está Activa');
                    });
                $('#todos a').removeClass('active');
                $(this).addClass('active');
            }
            else if (dataUrl.indexOf("AceptCustomize") > -1) {
                PersonalizarDialog.close();
                alert(document.getElementById('txtPersonaliza').value);
                alert(this.idProdCustom);
            }
        });

        function fnProcesaPedido(comp) {
            var Obs = document.getElementById('txtPersonaliza');
            var id = document.getElementById('IDPersonalizando');
            Obs.value = document.getElementById("Obs_" + comp.id.substring(comp.id.indexOf("btnstart_") + 9)).value;
            id.value = comp.id.substring(comp.id.indexOf("btnstart_") + 9);
            PersonalizarDialog.showModal();
        }

        function fnGuardaPedido(comp) {
            var Obs = document.getElementById('txtPersonaliza');
            var id = document.getElementById('IDPersonalizando');
            var sl = document.getElementById('switch-label');
            $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/home/MostrarPlatillos/',
                data: { RidProdCustom: id.value, Comentarios: Obs.value, Accion: "Agregar" }
                    }).done(function (data) {
                        $('#Platillo').html(data);
                    }).fail(function () {
                        alert('La función de Guardar aún no está Activa');
                    });  

            PersonalizarDialog.close();
        }
        


    </script>
    }