
@{
    ViewBag.Title = "PrendeLED";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrendeLED</h2>

<input type="checkbox" id="LED1" value="Led 1" checked="checked" />
<input type="checkbox" id="LED2" value="Led 2" />
<input type="checkbox" id="LED3" value="Led 3" checked="checked" />
<input type="checkbox" id="LED4" value="Led 4" checked="checked" />
<input type="checkbox" id="LED5" value="Led 5" />
<input type="checkbox" id="LED6" value="Led 6" />

<form method="get">
    <input type="button" id="VizualizarLED" onclick="ShowLEDs()" value="Vizualizar" />
</form>


<script>
        function ShowLEDs() {

            @*$.post("@Url.Action("WebLED")", function (data) {
                var frame = window.frameElement;  // Get the <iframe> element of the window

                if (frame) {   // If the window is in an <iframe>, change its source
                    frame.src = "";
                }
            });*@

        
            @*$.post("@Url.Action("WebLED")", function (data) {
                $('#LEDsONOFF').html.url = data.url;  //.html(data) ;
                //window.location = data.url;
            });*@


            //var URLLEDs = "HTTP://esp32-ar.ddns.net/"; // "HTTP://192.168.0.37/";

            var LArray = [];
            for (i = 1; i < 7; i++) {
                this.ourCheckBox = document.querySelector('#LED' + i);

                let checkBox = this.ourCheckBox;

                if (checkBox.checked) {
                    LArray[i-1] = '"V"';
                }
                else {
                    LArray[i-1] = '"R"';
                }
            }

            var xParametros = '{ sLEDs: [' + LArray + '] }';
            //var xFrame = document.getElementById("ILEDS");
            //xFrame.src = URLLEDs;
            

            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Cocina/GuardaLED',
                data: xParametros,
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    
                },
                failure: function () {
                    alert('Ocurrió un error al momento de guardar la información');
                }
            });
       }
</script>
