<!DOCTYPE html>
<html onload="Load()">
<head>
    <script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <meta charset="utf-8" />
    <title>ARFood Salon Design</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #f0f0f0;
            background-image: url(../../IMG/Salon/Salon1.jpg);
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <input type="text" id="IDPedido" name="IDPedido" value="@ViewBag.idPedido" />
    <div id="container"></div>
    <script>


      var width = window.innerWidth;
      var height = window.innerHeight;

        function NewElemento() {
            xElement = ElementoNuevo.length;

            ElementoImg[xElement] = new Konva.Image({
                width: 50,
                height: 30,
                opacity: 0.5,
            });


            ctext[xElement] = new Konva.Text({
                x: 10,
                y: 10,
                text: xElement + 1,
                align: "center",
                fontSize: 30,
                fontFamily: 'Calibri',
                fill: 'green'
            });
            //        ElementoImg[xElement].globalAlpha = 0.2;

            ElementArray[ElementoImg[xElement]._id] = xElement;

            imageObj3[xElement] = new Image();
            imageObj3[xElement].onload = function () {
                ElementoImg[xElement].image(imageObj3[xElement]);
                layer.draw();
            };
            //imageObj3[xElement].src = '/IMG/Objetos/espana.gif';
            imageObj3[xElement].src = '/IMG/Salon/r_gris.png';

            ElementoNuevo[xElement] = new Konva.Group({
                x: 400,
                y: 500,
                draggable: true,
                globalAlpha: 0.2,
            });


            //alert(ElementoNuevo[xElement]._id);

            layer.add(ElementoNuevo[xElement]);
            ElementoNuevo[xElement].add(ElementoImg[xElement]);
            ElementoNuevo[xElement].add(ctext[xElement]);
            addAnchor(ElementoNuevo[xElement], 0, 0, 'topLeft');
            addAnchor(ElementoNuevo[xElement], 50, 0, 'topRight');
            addAnchor(ElementoNuevo[xElement], 50, 30, 'bottomRight');
            addAnchor(ElementoNuevo[xElement], 0, 30, 'bottomLeft');


            ElementoNuevo[xElement].on('click', function (event) {
                //alert(Object.keys(event.target));
                //alert(event.target._id);
                xElement = ElementArray[event.target._id];
            });


        }


        function SaveValues() {
            xElement = ElementArray.length;
            strResult = "";
            var chkarray = new Array();;
            chkarray[0] = 0;
            i = 0;
            ElementArray.forEach(function (elemento, indice, array) {
                strResult = '"' + (ElementArray[indice] + 1) + ',' + ElementoNuevo[ElementArray[indice]].getX() + "," + ElementoNuevo[ElementArray[indice]].getY() + "," + ElementoImg[ElementArray[indice]].width() + "," + ElementoImg[ElementArray[indice]].height() + '"';
                chkarray[i] = strResult;
                i++;
            });

            var xParametros = '{ MesasValues: [' + chkarray + '] }';

            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Salon/GuardaSalon',
                data: xParametros,
                dataType: "json",
                contentType: "application/json",
                success: function (algo) {
                    alert(algo);
                },
                failure: function () {
                    alert('Falla al guardar el Salon');
                }
            });
        }


        function LoadValues() {
           
        }


        function update(activeAnchor) {
            var group = activeAnchor.getParent();

            var topLeft = group.get('.topLeft')[0];
            var topRight = group.get('.topRight')[0];
            var bottomRight = group.get('.bottomRight')[0];
            var bottomLeft = group.get('.bottomLeft')[0];
            var image = group.get('Image')[0];

            var anchorX = activeAnchor.getX();
            var anchorY = activeAnchor.getY();

            // update anchor positions
            switch (activeAnchor.getName()) {
                case 'topLeft':
                    topRight.y(anchorY);
                    bottomLeft.x(anchorX);
                    break;
                case 'topRight':
                    topLeft.y(anchorY);
                    bottomRight.x(anchorX);
                    break;
                case 'bottomRight':
                    bottomLeft.y(anchorY);
                    topRight.x(anchorX);
                    break;
                case 'bottomLeft':
                    bottomRight.y(anchorY);
                    topLeft.x(anchorX);
                    break;
            }

            image.position(topLeft.position());

            var width = topRight.getX() - topLeft.getX();
            var height = bottomLeft.getY() - topLeft.getY();
            if (width && height) {
                image.width(width);
                image.height(height);
                //ctext.width(width);
                //ctext.height(height);
            }
        }
        function addAnchor(group, x, y, name) {
            var stage = group.getStage();
            var layer = group.getLayer();

            var anchor = new Konva.Circle({
                x: x,
                y: y,
                stroke: '#666',
                fill: '#ddd',
                strokeWidth: 2,
                radius: 8,
                name: name,
                draggable: true,
                dragOnTop: false,
            });

            anchor.on('dragmove', function () {
                update(this);
                layer.draw();
            });
            anchor.on('mousedown touchstart', function () {
                group.draggable(false);
                this.moveToTop();
            });
            anchor.on('dragend', function () {
                group.draggable(true);
                layer.draw();
            });
            // add hover styling
            anchor.on('mouseover', function () {
                var layer = this.getLayer();
                document.body.style.cursor = 'pointer';
                this.strokeWidth(4);
                layer.draw();
            });
            anchor.on('mouseout', function () {
                var layer = this.getLayer();
                document.body.style.cursor = 'default';
                this.strokeWidth(2);
                layer.draw();;
            });

            group.add(anchor);
        }


      var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
      });

      var layer = new Konva.Layer();

        var btnAddBack = new Konva.Rect({
        x: 10,
        y: 300,
        width: 170,
        height: 50,
        fill: 'blue',
        stroke: 'black',
            strokeWidth: 4,
            cornerRadius: [0, 5, 10, 15],
      });
      // add the shape to the layer

        btnAddBack.on('mouseover', function () {
            this.stroke('black');
            this.strokeWidth(5);
            layer.draw();
        });

        btnAddBack.on('mouseout', function () {
            this.stroke('black');
            this.strokeWidth(1);
            layer.draw();
        });

        btnAddBack.on('click', function () {
            NewElemento();
        });

        layer.add(btnAddBack);

        var btnAddText = new Konva.Text({
            x: 20,
            y: 310,
            text: "Agregar mesa a Layout",
            align: "center",
            fontSize: 15,
            fontFamily: 'Calibri',
            fill: 'white'
        });

        btnAddText.on('click', function () {
            NewElemento();
        });

        layer.add(btnAddText);


        var btnSave = new Konva.Rect({
            x: 10,
            y: 500,
            width: 170,
            height: 50,
            fill: 'blue',
            stroke: 'black',
            strokeWidth: 4,
            cornerRadius: [0, 5, 10, 15],
        });
        // add the shape to the layer

        btnSave.on('mouseover', function () {
            this.stroke('black');
            this.strokeWidth(5);
            layer.draw();
        });

        btnSave.on('mouseout', function () {
            this.stroke('black');
            this.strokeWidth(1);
            layer.draw();
        });

        btnSave.on('click', function () {
            SaveValues();
        });

        layer.add(btnSave);

        var btnSaveText = new Konva.Text({
            x: 20,
            y: 510,
            text: "Guardar Layout",
            align: "center",
            fontSize: 15,
            fontFamily: 'Calibri',
            fill: 'white'
        });

        btnSaveText.on('click', function () {
            SaveValues();
        });

        layer.add(btnSaveText);



        var btnLoadBack = new Konva.Rect({
            x: 10,
            y: 700,
            width: 170,
            height: 50,
            fill: 'blue',
            stroke: 'black',
            strokeWidth: 4,
            cornerRadius: [0, 5, 10, 15],
        });
        // add the shape to the layer

        btnLoadBack.on('mouseover', function () {
            this.stroke('black');
            this.strokeWidth(5);
            layer.draw();
        });

        btnLoadBack.on('mouseout', function () {
            this.stroke('black');
            this.strokeWidth(1);
            layer.draw();
        });

        btnLoadBack.on('click', function () {
            LoadValues();
        });

        layer.add(btnLoadBack);

        var btnLoadText = new Konva.Text({
            x: 20,
            y: 710,
            text: "Cargar Layout",
            align: "center",
            fontSize: 15,
            fontFamily: 'Calibri',
            fill: 'white'
        });

        btnLoadText.on('click', function () {
            LoadValues();
        });

        layer.add(btnLoadText);




      // add the layer to the stage
        stage.add(layer);

        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Salon/CargarSalon',
            dataType: "json",
            contentType: "application/json",
            success: function (Mesas) {
                alert(Mesas);
                Mesas.forEach(function (elemento, indice, array) {
                    if (indice > 0) {
                        xElement = parseInt(elemento[0], 10) - 1;

                        ElementoNuevo[xElement] = new Konva.Rect({
                            x: parseInt(elemento[1], 10),
                            y: parseInt(elemento[2], 10),
                            width: parseInt(elemento[3], 10),
                            height: parseInt(elemento[4], 10),
                            fill: 'gray',
                            stroke: 'black',
                            strokeWidth: 4,
                            opacity: 0.5,
                        });

                        ElementoNuevo[xElement].on('mouseover', function () {
                            this.stroke('black');
                            this.strokeWidth(5);
                            layer.draw();
                        });

                        ElementoNuevo[xElement].on('mouseout', function () {
                            this.stroke('black');
                            this.strokeWidth(1);
                            layer.draw();
                        });

                        ElementoNuevo[xElement].on('click', function (event) {
                            //alert('Hola' + event.target._id);
                            alert(document.getElementById('IDPedido').value);
                        });

                        layer.add(ElementoNuevo[xElement]);

                        Elementotext[xElement] = new Konva.Text({
                            x: parseInt(elemento[1], 10) + 10,
                            y: parseInt(elemento[2], 10) + 10,
                            text: (xElement + 1),
                            align: "center",
                            fontSize: 30,
                            fontFamily: 'Calibri',
                            fill: 'black'
                        });

                        layer.add(Elementotext[xElement]);
                    }
                })
            },
            failure: function () {
                alert('Falla al guardar el Salon');
            }
        });



        var ElementoImg = [];

        var ElementoNuevo = [];
        var Elementotext = [];

        var ElementArray = [];

        var ctext = [];

        var imageObj3 = [];
    </script>
</body>
</html>